* {
	padding:0;
	margin:0;
	outline:0;
}
body {
	font-size:12px;
	font-family:Arial, "Trebuchet MS", sans-serif;
	color:#6c6464;
	background:#dadada url(images/body.gif) left top repeat-x;
	padding:5px 0 13px 0;
}
a {
	color:#0d86c7;
	text-decoration:underline;
}
a:hover {
	text-decoration:none;
}
input, textarea, select {
	font-family:Arial, Helvetica, Sans-Serif;
	font-size:11px;
	color:#f3f6f2;
}
.cl, .clear {
	display:block;
	height:0;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
	clear:both;
}
.left {
	float:left;
	display:inline;
}
h2 {
	font-size:17px;
	color:#246b99;
	padding-bottom:6px;
	border-bottom:1px dotted #dcdcdc;
	margin-bottom:9px;
	position:relative;
}
h2 a {
	color:#246b99;
}
h4 {
	padding-bottom:3px;
	font-size:10px;
	line-height:12px;
}
h4 a {
	text-decoration:none;
}
h4 a:hover {
	text-decoration:underline;
}
#shell {
	width:960px;
	padding:0 20px;
	margin:0 auto;
	background:#fff;
	border:1px solid #e5e5e6;
}
#header {
	height:58px;
	position:relative;
	background-color:black;
}
#logo {
	padding-top:12px;
	
}
#logo a {
	font-size:18px;
	color:#5ADF5D;
	line-height:20px;
	text-decoration:none;
	
}
#logo a span {
	font-size:10px;
	line-height:12px;
	display:block;
	color:#bbc0c3;
}
.socials {
	position:absolute;
	top:24px;
	right:1px;
	width:104px;
}
.socials .link {
	float:left;
	width:20px;
	height:20px;
	margin-left:6px;
	background:url(images/socials.gif);
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}
.socials .link-twitter {
	background-position:0 top;
}
.socials .link-linkedin {
	background-position:-20px top;
}
.socials .link-facebook {
	background-position:-40px top;
}

#navigation {
	height:55px;
	background:url(images/navigation-normal.gif);
	margin-bottom:1px;
	position:relative;
}
#navigation ul {
	list-style:none;
	z-index:999;
}
#navigation ul li {
	float:left;
	display:inline;
	border-right:1px solid #fff;
	height:55px;
	line-height:53px;
}
#navigation ul li a {
	color:#fefefe;
	font-size:13px;
	font-weight:bold;
	padding:18px 18px 18px 18px;
	text-decoration:none;
}
#navigation ul li a.active, #navigation ul li a:hover {
	text-decoration:none;
	background:url(images/navigation-active.gif);
	padding:18px 18px 18px 18px;
}
#navigation ul li{
	position:relative;
}
#navigation ul li ul{
	position:absolute;
	left:-99999px;
	background:#43DD4A;
}
#navigation ul li:hover ul{
	left:0;
}
#navigation ul li ul li:first-child{
	border-top:1px solid #6B710E;
}
#navigation ul li ul li{
	border-right:none;
	border-bottom:1px solid #6B710E;
	width:200px;
}

#search {
	position:absolute;
	top:14px;
	right:40px;
	background:#1ad122;
	border:2px solid #86ea8a;
	width:198px;
	height:26px;
}
#search .field {
	float:left;
	background:#1ad122;
	border:0;
	padding:6px 5px 6px 16px;
	width:151px;
}
#search .submit {
	float:left;
	background:url(images/search-submit.gif);
	width:18px;
	height:26px;
	border:0;
	cursor:pointer;
}
#slider {
	position:relative;
	z-index:10;
	height:302px;
	width:960px;
}
.jcarousel-clip {
	width:659px;
	height:302px;
	position:relative;
	overflow:hidden;
	z-index:13;
}
#slider .slider-holder {
	width:659px;
	height:302px;
	position:relative;
	overflow:hidden;
	float:left;
	display:inline;
	z-index:13;
}
#slider .slider-holder ul {
	width:659px;
	height:302px;
	position:relative;
	overflow:hidden;
	list-style:none;
	z-index:13;
}
#slider .slider-holder ul li {
	float:left;
	width:659px;
}
#slider .slider-navigation {
	position:absolute;
	left:20px;
	bottom:13px;
	z-index:15;
}
#slider .slider-navigation ul {
	list-style:none;
}
#slider .slider-navigation ul li {
	float:left;
	padding-right:1px;
}
#slider .slider-navigation ul li a {
	width:18px;
	height:23px;
	float:left;
	background:url(images/slider-navigation-normal.png);
	font-size:0;
	line-height:0;
	text-indent:-4000px;
	cursor:pointer;
}
#slider .slider-navigation ul li a.active, #slider .slider-navigation ul li a:hover {
	background:url(images/slider-navigation-active.png);
}
#slider .big-navigation {
	float:left;
	display:inline;
	width:300px;
	padding-left:1px;
	height:100%;
}
#slider .big-navigation ul {
	list-style:none;
}
#slider .big-navigation ul li {
	float:left;
	display:inline;
	padding-right:24px;
	margin-bottom:1px;
	background:#11b715;
	color:#fff;
}
#slider .big-navigation ul li a {
	color:#fff;
}
#slider .big-navigation ul li .button-holder {
	width:26px;
	float:left;
	padding:40px 4px 0 7px;
}
#slider .big-navigation ul li .button-holder a {
	display:block;
	width:26px;
	height:26px;
	background:url(images/big-navigation-button-green.gif);
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}
#slider .big-navigation ul li .data {
	width:239px;
	float:left;
	padding:20px 0 8px 0;
}
.....................................
#slider .big-navigation ul li .data h3 {
	font-size:17px;
	line-height:18px;
	padding-bottom:5px;
}
#slider .big-navigation ul li .data p {
	line-height:15.5px;
	padding:3px 0 0 2px;
}
#slider .big-navigation ul li .data h5 {
	float:right;
	font-size:10px;
	line-height:10px;
	background:url(images/button-top-green.gif) left top no-repeat;
	padding:0 3px 0 15px;
}
#slider .big-navigation ul li .data h5 a {
	text-decoration:underline;
}
#slider .big-navigation ul li .data h5 a:hover {
	text-decoration:none;
}
#slider .big-navigation li.big-navigation-orange {
	background:#ff7d00;
}
#slider .big-navigation li.big-navigation-orange .button-holder a {
	background-image:url(images/big-navigation-button-orange.gif);
}
#slider .big-navigation li.big-navigation-orange .data h5 {
	background-image:url(images/button-top-orange.gif);
}



.row{
	border:2px solid white;
	display:inline-block;
	text-align:center;
	box-shadow:0 0 10px white;
	border-radius:5px;
	padding-top:10px;
	background:black;
	display: flex;
	
	
	
}
.column {
  float: left;
  width: 33.33%;
  height: 33.33%;
  padding: 5px;

  flex: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row a img{
	width:229px;
	height:229px;
	padding-right:8px;
	transition: transform .2s;
	margin:0 auto;
	float:left;
}

.row a img:hover{
	transform: scale(.95);
}
.row  span{
	text-align:bottom;
	display:block;
	
	
}






.fbg {
}
.fbg_resize {
	margin:0 auto;
	width:920px;
	padding:16px 20px;
	color:#6e6e6e;
	background:#eaeaea;
}
.fbg h2 {
	color:#3f3f3f;
	padding-bottom:24px;
}
.fbg img.gal {
	margin:0 8px 8px 0;
	padding:0;
	border:none;
}
.fbg .col {
	margin:0;
	float:left;
}
.fbg .c1 {
	padding:0 16px 0 0;
	width:280px;
}
.fbg .c2 {
	padding:0 36px 0 16px;
	width:280px;
}
.fbg .c3 {
	padding:0 0 0 16px;
	width:274px;
}
.fbg .fbg_ul {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li a {
	display:block;
	margin:0;
	padding:2px 0 2px 12px;
	color:#6e6e6e;
	text-decoration:none;
	background:url(../images/li.gif) no-repeat left center;
}
.fbg .fbg_ul li a:hover {
	color:#0082ae;
	text-decoration:underline;
}
.fbg p.contact_info {
	line-height:1.8em;
}
.fbg p.contact_info a {
	color:#0082ae;
	text-decoration:underline;
}
.fbg p.contact_info span {
	display:block;
	float:left;
	width:74px;
	font-weight:bold;
	color:#3f3f3f;
}

.footer {
	padding:10px 0 20px 0;
	height:100%;
	border-top:2px solid #ddddde;
	background-color:black;
}
.footer, .footer a {
	color:#92a2b4;
	font-size:10px;
	text-decoration:none;
}
.footer p {
	margin:0;
	padding:0;
	line-height:normal;
}
.footer .lf {
	float:left;
}
.footer .rf {
	
	text-align:center;
}
